@import "../../common/common";

.largeTitle {
  @include suspension;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.3rem;
}

.smallTitel {
  @include suspension;
  height: 2rem;
  line-height: 2rem;
  color: #848483;
}

.listModel {
  display: flex;
  img {
  }
}

.info {
  @include suspension;
  padding: .5rem;
  div {
    padding-bottom: .6rem;
  }
}

.grid {
  display: flex;
  flex-direction: column;
}
.gridImgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9.5rem;
}

