@import "../common/common";

.largeTitle {
  @include suspension;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.3rem;
}

.smallTitel {
  @include suspension;
  height: 2rem;
  line-height: 2rem;
  color: #848483;
}

.listModel {
  display: flex;
  img {
  }
}

.info {
  padding: .5rem;
  div {
    padding-bottom: .6rem;
  }
}
