.enter {
    opacity: 0.01;
    transition: opacity 1s ease-in;
}
.enter.enterActive {
    opacity: 1;
}
.leave {
    opacity: 1;
    transition: opacity 1s ease-in;
}
.leave.leaveActive {
    opacity: 0.01;
}
.appear {
    opacity: 0.01;
}
.appear.appearActive {
    opacity: 1;
    transition: opacity 1s ease-in;
}

/*.enter {*/
    /*transform: translate(100%);*/
/*}*/
/*.enter.enterActive {*/
    /*transform: translate(0%);*/
    /*transition: transform 1000ms ease-in-out;*/
/*}*/
/*.leave {*/
    /*transform: translate(0%);*/
/*}*/
/*.leave.leaveActive {*/
    /*transform: translate(-100%);*/
    /*transition: transform 1000ms ease-in-out;*/
/*}*/