$width : 20rem;
.box {
  width: 100%;
  text-align: center;
}

.msg {
  width: 100%;
  color: #67ff1f;
  position: absolute;
}

.picBox {
  width: $width;
  height: $width;
  border: 1px solid #000000;
  margin: 4rem auto 1rem;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  span {
    flex: 1;
    border: 1px solid #000000;
    font-size: 2rem;
    line-height: $width / 3;
  }
}

@mixin ans {
  margin: .5rem;
  width: 10%;
}
.ansBox {
  display: flex;
  flex-wrap: wrap;
}

.answer {
  @include ans;
}
.doneAns {
  @include ans;
  color: #ff4b54;
}


