.home {
  text-align: center;
}

.route {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.link {
  margin: 2rem;
}

.githubUrl {
  position: absolute;
  bottom: 3rem;
  width: 100%;
}

