.fade-enter {
    opacity: 0.01;
    transition: opacity 1s ease-in;
}
.fade-enter-active {
    opacity: 1;
}
.fade-leave {
    opacity: 1;
    transition: opacity 1s ease-in;
}
.fade-leave-active {
    opacity: 0.01;
}
.fade-appear {
    opacity: 0.01;
}
.fade-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

/*.enter {*/
    /*transform: translate(100%);*/
/*}*/
/*.enter.enterActive {*/
    /*transform: translate(0%);*/
    /*transition: transform 1000ms ease-in-out;*/
/*}*/
/*.leave {*/
    /*transform: translate(0%);*/
/*}*/
/*.leave.leaveActive {*/
    /*transform: translate(-100%);*/
    /*transition: transform 1000ms ease-in-out;*/
/*}*/