@mixin fullScreen {
  width:100%;
  height:100%;
  position:fixed;
  left:0px;
  top:0px;
}
.box {
  @include fullScreen;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.mask {
  @include fullScreen;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  z-index: 1000;
}
.maskImg {
  position: relative;
  z-index: 1001;
  max-width: 5rem;
}